*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body{
	font-family: sans-serif;

}

/*Start Header*/

header{
	height: 60vh;
	background: linear-gradient(steelblue,lightskyblue);

	background-repeat: no-repeat;
	background-position: center;

	position: relative;
}

/*Start navbar*/

.navbar{
	background: linear-gradient(to right,rgba(0,0,0,0.7),rgba(0,0,0,0.7));

}

.nav-link{
	font-size: 16px;
	color: #fff !important;
}

/*End navbar*/

/*Start banner*/

.banners{
	color: #fff;
	font-weight: 900;
	text-align: center;

	position: absolute;
	left: 50%;
	top: 50%;

	transform: translate(-50%,-50%);
}

/*End banner*/

/*End Header*/