@import url('https://fonts.googleapis.com/css2?family=Martel:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap');

:root{

	--pri-color: #00334e;
	/*--sec-color: #dbebfa;*/
	--sec-color: #ffcb74;
};

*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body{
	/*font-family: 'Martel', serif;*/
	/*font-family: 'Viaoda Libre', cursive;*/
	font-family: sans-serif;

}

/*Start Header*/

header{
	height: 95vh;
	/*background: linear-gradient(steelblue,lightskyblue);*/
	/*background: url("./../assets/img/banner/banner8.jpg");*/
	opacity: 0.95;

	background-repeat: no-repeat;
	background-position: center;

	position: relative;
	transition: all 2.5s linear;

}

/*Start navbar*/

.navbar{
	/*background: linear-gradient(to right,rgba(0,0,0,0.7),rgba(0,0,0,0.7));*/
	
	background: rgba(0, 51, 78,0.7);


}



.nav-link{
	font-size: 16px;
	color: #fff !important;
}

.navbar-toggler,.navbar-toggler:hover,.navbar-toggler:focus{

	border: none;
	outline: none;
	box-shadow: none;
	
}

.dropdowns{
	z-index: 2;
	position: relative;


}

.dropbtn{
	background: none !important;
}

.dropdown-contents{

	width: 230px;
	background: #f6f6f6;

	position: absolute;
	z-index: 10;

	display: none;

}

.dropdown-contents a{
	
	color: #000;
	text-decoration: none;
	display: block;
	padding: 10px;
}

.dropdowns a:hover{
	background: #ddd;
}

.dropdown-contents .search{

	width: 100%;
	background-image: url("./../assets/img/icon/searchicon.png");
	background-repeat: no-repeat;
	background-position: 10px center; 
	padding: 10px 5px 10px 40px;

	border: none;
	border-bottom: 1px solid #ddd;

}

.dropdown-contents .search:focus{
	outline: none;
}

.dropdown-contents.show{
	display: block;
}


/*End navbar*/

/*Start banner*/

.banners{
	color: #fff;
	font-weight: 900;
	text-align: center;

	position: absolute;
	left: 50%;
	top: 50%;

	transform: translate(-50%,-50%);
}

@keyframes bannerani{
	from{
		transform: translateY(100px);
		opacity: 0;
	}
	to{
		transform: translateY(0px);
		opacity: 1;
		

	}
}

.bannerheaders{

	/*background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.3));
	border: 2px dashed #fff;
	padding: 20px;
	box-shadow: 10px 10px 100px 20px #000;*/

	/*background: linear-gradient(rgba(0,0,0,0.3));*/
	/*border: 2px dashed #fff;*/
	min-width: 600px;
	font-family: 'Viaoda Libre', cursive;
	font-size: 80px;
	letter-spacing: 10px;
	font-weight: 400;
	padding: 20px;
	/*text-shadow: 4px 3px 30px rgba(0,0,0,0.5);*/
	text-shadow: 3px 3px 100px 10px rgba(0,0,0,0.5);
	animation-name: bannerani;
	animation-duration: 2s;
	
}

.bannerparagraphs{

	/*background: linear-gradient(rgba(0,0,0,0.3));
	border: 2px dashed #fff;
	padding: 20px;
	box-shadow: 3px 3px 100px 10px rgba(0,0,0,0.5);*/
	animation-name: bannerani;
	animation-duration: 2s;
	animation-delay: 0.5s;
	animation-fill-mode: backwards;
	
}





/*End banner*/

/*End Header*/

/*Start Booking*/

.search-rooms{
	width: 80%;
	/*background: linear-gradient(to left,skyblue,steelblue);*/
	background: var(--pri-color);
	box-shadow: rgba(0, 51, 78, 0.15) 0px 5px 15px 0px;
	padding: 30px 0;
	margin-top: -60px;

	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.search-rooms .form-control{
	max-width: 20%;
	display: inline-block;
	margin: 10px 5px;
	border-radius: 0;

}

.search-rooms .form-control:focus{
	box-shadow: none;
}

.search-rooms input[type=text]{
	width: 200px;
	transition: width 0.5s ease-in-out;
}

.search-rooms input[type=text]:focus{
	width: 100%;
}

.btn-sec{
	background: var(--sec-color);
	color: var(--pri-color);
}

/*End Booking*/

/*Start Rooms*/

.rows{

	display: flex;
	flex-wrap: wrap;
}

.columns{
	max-width: 24.5%;
	padding: 0 5px;
	
}

.columns img{
	width: 100%;
	margin: 5px;
}


.columns img:hover{
	opacity: 0.8;
}

@media (max-width: 800px){
	.columns{
		flex: 50%;
		max-width: 50%;
	}
}

/*End Rooms*/